<header class="site-header" role="banner">

  <div class="wrapper">

    <a class="site-title" href="{{ "/" | relative_url}}">
      <img class="site-logo" src="{{ site.logo || relative_url }}" />{{ site.title | escape }}
    </a>

    <nav class="site-nav">
      <ul>
        {% for item in site.data.menulist.toc %}
          <li class="page-link">
          {% if item.subfolderitems.size > 0 %}

            <a href='#' class="drop-btn">{{ item.title | escape }}</a>
            <ul class="dropdown">
              {% for entry in item.subfolderitems %}
                <a href="{{ entry.url }}"><li>{{ entry.page }}</li></a>
              {% endfor %}
            </ul>

          {% else %}
            <a href="{{ item.url | relative_url }}">{{ item.title | escape }}</a>
          {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
