<header class="site-header" role="banner">

    {%- include hamburger-site-nav.html -%}
  
    <div class="wrapper">
        <div class="title-and-logo-wrapper">
            <a href="{{ "/" | relative_url}}">
                <img class="site-logo" src="{{ site.logo || relative_url }}" />
            </a>
            <p class="site-title">
            {{ site.title | escape }}
            </p>
        </div>

        <nav class="site-nav">
        <ul>
            {% for item in site.data.menulist.toc %}
            <li class="page-link">
            {% if item.subfolderitems.size > 0 %}

                <a href='#' class="drop-btn" onclick="handleMenuClick(this)">{{ item.title | escape }}</a>
                <ul class="dropdown">
                {% for entry in item.subfolderitems %}
                <li><a href="{{ entry.url }}">{{ entry.page }}</a></li>
                {% endfor %}
                </ul>

            {% else %}
                <a href="{{ item.url | relative_url }}">{{ item.title | escape }}</a>
            {% endif %}
            </li>
            {% endfor %}
        </ul>
        </nav>
        <nav class="hamburger-icon-nav">
            {%- include hamburger-icon-container.html -%}
            
        </nav>
    </div>

  <script src="{{"utils/jquery.js" | relative_url }}"></script>
  <script src="{{"utils/hamburger-nav.js" | relative_url }}"></script>
  <script src="{{"utils/nav-dropdown-click-handler.js" | relative_url }}"></script>
</header>
