<header class="site-header" role="banner">

  <div class="wrapper">

    <a class="site-title" href="{{ "/" | relative_url}}">{{ site.title | escape }}</a>

    <nav class="site-nav">
      <ul>
        {% for item in site.data.menulist.toc %}
        <li><a class="page-link" href="{{ item.url | relative_url }}">{{ item.title | escape }}</a>
          <ul class="dropdown">
            {% for entry in item.subfolderitems %}
            <li><a href="{{ entry.url }}">{{ entry.page }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>
    </nav>

  </div>

</header>
