<li>
  <a class="post-button" href="{{ post.url | relative_url }}">
    <div class="post-left">
      {%- if post.image -%}
      <img
        src="{{ post.image | prepend: site.baseurl }}"
        alt="{{ post.title }}"
        title="{{ post.title }}"
      />
      {%- else -%}
      <img
        src="/assets/image/2018_08_01_stefanof_mct-master-630.jpg"
        alt="{{ post.title }}"
        title="{{ post.title }}"
      />
      {%- endif -%}
    </div>
    <div class="post-right">
      <h3 class="post-title">{{ post.title | escape }}</h3>
      <span class="post-meta-category"
        >{{ post.categories | join: ", " }}
      </span>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y"
      -%}
      <div class="post-meta">
        {{ post.date | date: date_format }} • {{ post.author }}
      </div>
      {%- if site.show_excerpts -%}
      <p class="post-excerpt">{{ post.excerpt | strip_html }}</p>
      {%- endif -%}
    </div>
  </a>
</li>
