---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

// Font Variables
$roboto-slab: "Roboto Slab", serif;
$open-sans: "Open Sans", sans-serif;

// Our variables
$heading-family: "Roboto Slab", Arial, sans-serif;
$base-font-family: "Open Sans", Arial, sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit: 30px;

// Colors
$text-color: #333;
$background-color: #fdfdfd;
$brand-color: #8764b4;
$brand-color-dark: darken($brand-color, 20%);
$brand-color-1: #bf033b;
$brand-color-2: #f00a36;
$brand-color-3: #ed3b21;
$brand-color-4: #ff6908;
$brand-color-5: #ffc719;
$brand-color-6: #598c14;
$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

// Width of the content area
$content-width: 900px;
$on-palm: 600px;
$on-laptop: 800px;

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-family;
  font-weight: 700;
  color: $brand-color;
}

@import "minima";

.site-header {
  border-top: 0;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

.site-title {
  // @include relative-font-size(1.625);
  font-size: 28px;
  color: $brand-color;
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &:visited {
    color: $brand-color;
  }
}

.site-logo {
  float: left;
  width: 42px;
  height: 42px;
  margin: 4px 16px 0 0;
  outline: 0 !important;
}

@media screen and (max-width: 600px) {
  .site-title {
    text-align: center;
    float: none;
    display: block;
    padding-left: 0;

    & > img {
      float: none;
      margin: 0 16px 16px 0;
    }
  }

  .site-nav {
    color: $brand-color;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    margin-bottom: 0.5em;
  }
}

.post-content {
  text-align: justify;
  overflow-wrap: break-word;
  margin-bottom: 0;
}

a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: $brand-color;
    text-decoration: none;
  }

  &:hover {
    color: $brand-color-dark;
    text-decoration: none;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: none;
    }
  }
}

.post-title {
  @include relative-font-size(2.25);
  letter-spacing: -1px;
  line-height: 1;
  overflow-wrap: break-word;

  @include media-query($on-laptop) {
    @include relative-font-size(2);
  }
}

.post > .post-content {
  margin-bottom: $spacing-unit;

  h1 {
    @include relative-font-size(1.75);

    @include media-query($on-laptop) {
      @include relative-font-size(1.652);
    }

    &:after {
      content: " ";
      display: block;
      border: 1px solid $grey-color-light;
    }
  }

  h2 {
    @include relative-font-size(1.375);

    @include media-query($on-laptop) {
      @include relative-font-size(1.25);
    }
  }

  h3 {
    @include relative-font-size(1.125);

    @include media-query($on-laptop) {
      @include relative-font-size(1.075);
    }
  }

  h4 {
    @include relative-font-size(1.075);

    @include media-query($on-laptop) {
      @include relative-font-size(1.025);
    }
  }
}

.site-nav {
  float: right;
  padding-left: 1em;
  position: relative;
  text-align: left;

  .page-link {
    color: $brand-color;
    line-height: $base-line-height;
    display: inline-block;
    cursor: pointer;

    &:visited {
      color: $brand-color;
    }

    &:hover {
      color: $brand-color-dark;
    }
  }
}

@media screen and (max-width: 600px) {
  // proper header formating for mobile
  .site-nav {
    padding: 0 1em 0;
    text-align: center;

    .page-link {
      margin: 0;
    }
  }

  .post-content .post-list img {
    // put images above posts (not enough space to right)
    width: 90%;
    float: none;
    margin: 1em auto;
  }
}

ul.dropdown li {
  display: block;
  line-height: 100%;
  color: $brand-color;
  padding: 0.5rem;
  //&:visited { color: $brand-color; }
  //border: 2px white solid;
}

nav ul {
  list-style: none;
  margin: 0;
}

nav li {
  color: #fff;
  display: inline;
  text-decoration: none;
  text-align: left;
  //padding: 0.5rem;
  //position: relative;
  & a {
    color: $brand-color;
  }
}

// Dropdown

nav ul.dropdown {
  position: absolute;
  display: block;
  left: inherit;
  background: #eee;
  margin-left: -14px;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  padding: 6px;

  opacity: 0;
  visibility: hidden;
  transition: visibility 0.1s, opacity 0.1s;
}

.drop-btn {
  cursor: pointer;
}

.drop-check {
  // trick to toggle dropdown (should be hidden)
  display: none;
}

.drop-check:checked ~ .dropdown {
  opacity: 1;
  visibility: visible;
  z-index: 100;
}

// @media screen and (max-width: 600px) {
//   nav ul li:focus > ul.dropdown {
//     visibility: visible;
//     opacity: 1;
//     z-index: 100;
//   }
// }

nav ul li ul li {
  clear: both;
  width: 100%;
}

// Buttons on blog

.read-more {
  padding: 6px 0;
  margin: 0;

  & > a {
    color: #333;
    text-decoration: none;
    padding: 6px 8px;
    border-radius: 6px;
    background-color: rgba(240, 240, 240, 1);
    transition: 0.1s;

    &:hover {
      background-color: rgba(240, 240, 240, 0.75);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    }
  }
}

ul.pager {
  border-top: 0.1em dotted #dedede;
  padding-top: 2em;
  margin: auto;
  list-style: none;
  text-align: center;
}

.previous,
.next {
  display: inline;
  font-weight: 500;
  padding: 6px;
  // font-size: 1.15em;

  & > a {
    color: #333;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 6px;
    background-color: rgba(240, 240, 240, 1);
    transition: 0.1s;

    &:hover {
      background-color: rgba(240, 240, 240, 0.75);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    }
  }
}

// Search page

form#contact-form {
  text-align: center;
}

#search {
  position: relative;
  text-align: left;
  height: 40px;
  width: 90%;
  font-size: 1em;
  border-radius: 30px;
  padding: 0 30px;
  outline: none;
  z-index: 99;
}

#list {
  text-align: left;
  margin: -15px auto auto auto;
  padding-top: 15px;
  width: 90%;
  max-height: 620px;
  overflow: auto;
}

.list.list--results > p {
  margin: 20px auto;
  text-align: center;
}

.item.item--result {
  margin: 15px auto;
  background-color: rgba(240, 240, 240, 1);
  // background-color: $grey-color;
  border-radius: 20px;
  transition: 0.1s;

  &:hover {
    background-color: rgba(240, 240, 240, 0.75);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);

    & .article.typeset > h4 {
      background-color: rgba(230, 230, 230, 0.75);
    }
  }
}

.article.typeset {
  padding: 20px;

  & > h4 {
    color: $text-color;
    background-color: rgba(230, 230, 230, 1);
    border-radius: 20px 20px 0 0;
    margin: -20px -20px 10px -20px;
    padding: 20px 20px 10px 20px;
  }

  & > p {
    margin: 0;
  }
}

.no-shadow {
  // for removing dropshadow from media
  box-shadow: none !important;
}

.page-content img,
.page-content video,
.page-content iframe {
  border-radius: 8px;
  max-width: 100%;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
  border: 0;
}

.page-content figure,
.page-content img,
.page-content video {
  height: auto;
}

.page-content figure,
.page-content img,
.page-content video,
.page-content iframe {
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin: 1em auto;
  display: table;
}

.page-content figcaption {
  display: table-caption;
  caption-side: bottom;
}

.page-content caption {
  display: table-caption;
  text-align: center;
  position: relative;
}

.post-list li {
  border-top: 0.1em dotted #dedede;
  padding: 1.5em 0;
  margin-bottom: 0 !important;

  & img {
    width: 33.3%;
    float: right;
    display: block;
    //padding: 0 3% 1% 0;
    margin: 0 0 0 3em;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
  }

  & .post-excerpt {
    margin: 1em auto;
  }

  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

.student-list {
  margin: 1em;

  & h2 {
    margin-top: 15px;
    margin-bottom: 5px;
  }
  & details {
    margin: 5px auto;
  }
  & h4 {
    display: inline;
  }
  & a {
    margin-left: 1.5em;
    display: block;
  }
}
