---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

// Font Variables
$roboto-slab: 'Roboto Slab', serif;
$open-sans: 'Open Sans', sans-serif;


// Our variables
//$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
$heading-family: "Roboto Slab", Arial, sans-serif;
$base-font-family: "Open Sans", Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #333;
$background-color: #fdfdfd;
$brand-color:      #a0ac48;
$brand-color-1:    #bf033b;
$brand-color-2:    #f00a36;
$brand-color-3:    #ed3b21;
$brand-color-4:    #ff6908;
$brand-color-5:    #ffc719;
$brand-color-6:    #598c14;


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-family: $heading-family;
    font-weight: 700;
    color: $brand-color;
}


$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    900px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.

.wrapper figure img, .wrapper img, .wrapper video {
  border-radius: 6px;
}

.wrapper figure, .wrapper img, .wrapper video {
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.wrapper figcaption {
  display: table-caption;
  caption-side: bottom;
}

.wrapper caption {
    display: table-caption;
    text-align: center;
    position: relative;
}

.post-list img {
  width: 45%;
  float: right;
  display: block;
  //padding: 0 3% 1% 0;
  margin: 0 0 1em 1em;
  border:1px solid #DEDEDE;
}

.post-list li {
  border-top: 0.1em dotted #DEDEDE;
  padding-top: 3em;
}

.post-list li::after {
  content: "";
  clear: both;
  display: table;
}

.site-nav{
    float: right;
    padding: 20px;
    position: relative;
    text-align:left;
}

ul.dropdown li {
  line-height:110%;
}

nav ul.dropdown li {
 display: block;
 transition-duration: 0.5s;
 border: 2px white solid;
}

nav li:hover {
  cursor: pointer;
}

nav ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 0.5rem;
  left: 0;
  display: none;
}

nav ul li:hover > ul,
nav ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  background: #ccc;
  z-index: 100;
  padding: 0 20px 0 0;
}

nav ul li ul li {
  clear: both;
  width: 100%;
}

nav ul {
  //background: darkorange;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

nav li {
  color: #fff;
  //background: darkorange;
  display: block;
  float: left;
  padding: 0.5rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

nav li a {
  color: #000;
}

nav li:hover {
  //background: red;
  cursor: pointer;
}

nav ul li ul {
  background: #CCC;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 0.5rem;
  left: 0;
  display: none;
}

nav ul li:hover > ul,
nav ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

nav ul li ul li {
  clear: both;
  width: 100%;
}

@import "minima";
