---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Google Fonts
// @import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap);

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// Font Variables
// $roboto-slab: "Roboto Slab", serif;
// $open-sans: "Open Sans", sans-serif;

//$roboto-slab: "Roboto Slab", serif;
//$open-sans: "Open Sans", sans-serif;

// Our variables
//$heading-family: "Open Sans", Arial, sans-serif;
//$base-font-family: "Open Sans", Arial, sans-serif;

$heading-family: "Roboto", Arial, sans-serif;
$base-font-family: "Roboto", Arial, sans-serif; // "Roboto Mono", Arial, monospace;

$base-font-size: 20px;
$base-font-weight: 400;
$base-font-weight-links: 400;
$base-font-weight-large: 600;
$small-font-size: $base-font-size * 0.875;
$smallest-font-size: $small-font-size * 0.875;
$base-line-height: 1.6;
$spacing-unit: 30px;

// Colors
$text-color: rgb(0, 0, 0);
$brand-color: rgb(0, 0, 0);
$background-color: #ffffff; //#fdfdfd;
//$brand-color: #8764b4;
//$brand-color: rgb(54, 54, 54);
$brand-color-dark: darken($brand-color, 50%);
$brand-color-lighten: lighten($brand-color, 50%);
$brand-color-1: rgb(50, 50, 50);
$brand-color-2: #4bacfc; //#333; // for links
$brand-color-3: #8bb3e7;
$brand-color-4: #ff6908;
$brand-color-5: #ffc719;
$brand-color-6: #598c14;
$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

// Width of the content area
$content-width: 900px;
$on-palm: 600px;
$on-laptop: 800px;

// Add padding to mobile
.wrapper {
  padding-right: 30px !important;
  padding-left: 30px !important;
}

@import "minima";

// REGULAR PARAGRAPHS IN THE BLOG
p {
  margin-bottom: 4%;
}

//////////// EVERYTHING BELOW IS IN THE HEADER //////////////////////
.site-header {
  // the header itself
  width: 100%;
  background-color: $background-color;
  z-index: 3;
  opacity: 1;
  border-top: 0;
  //   padding: 0.5em 0;
  // border-radius: 6px;
  // box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid $brand-color;
}

.title-and-logo-wrapper {
  margin-bottom: 0;
}

.site-title {
  // @include relative-font-size(1.625);
  font-size: $base-font-size;
  font-weight: 300;
  margin-bottom: 0;
  float: left;
  // opacity: 0.6;
}

.site-logo {
  float: left;
  width: 46px;
  height: 46px;
  margin: 4px 10px 0 0;
  outline: 0 !important;
  margin-bottom: 0;
}

.site-nav {
  // navbar
  font-size: $small-font-size;
  position: relative;
  float: right;
  padding-left: 1em;
  text-align: left;

  .page-link {
    // containers for the navbar titles
    line-height: $base-line-height;
    display: inline-block;
    a {
      color: $brand-color;
    }
  }
}

nav ul li a.active,
nav ul li ul a.active {
  // the currently active navbar tabs
  font-weight: 600;
  color: text-color;
  li {
    color: $text-color;
    font-weight: 600;
  }
}

nav ul {
  // dropdown menu
  margin: 0;
  &.dropdown {
    position: absolute;
    display: block;
    z-index: 3;
    left: inherit;
    background: $background-color;
    margin-top: 5px;
    border-radius: 6px;
    padding: 4px;
    // box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid $brand-color;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.1s, opacity 0.1s ease-in-out;

    li {
      // pagelinks in the dropdown menu
      display: block;
      line-height: 100%;
      padding: 0.5rem;
      border-radius: 6px;
      //   transition: box-shadow 0.05s, opacity 0.05s ease-in-out;
      //   &:hover {
      //     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
      //   }
    }
  }
}

// When you hover over the dropdown navbar tabs, the menu appears
.page-link:hover .dropdown {
  visibility: visible;
  opacity: 1;
}
//////////// EVERYTHING ABOVE IS IN THE HEADER //////////////////////

.post-content {
  overflow-wrap: break-word;
  margin-bottom: 0;
}

///////// ALL THE CLICKABLE LINKS IN THE BLOG /////////
a {
  color: $brand-color-2;
  font-weight: $base-font-weight-links;
  text-decoration: none;
  position: relative;
  &:visited {
    color: $brand-color-2;
    text-decoration: none;
  }
  &:hover {
    color: $brand-color-2;
    text-decoration: none;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: none;
    }
  }
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $brand-color-2;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}
/////////////////////////////////////////////////

.post-title {
  @include relative-font-size(2.25);
  letter-spacing: -1px;
  line-height: 1.2;
  overflow-wrap: break-word;

  @include media-query($on-laptop) {
    @include relative-font-size(2);
  }
}

////////////////////// HEADINGS //////////////////////
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-family;
  font-weight: $base-font-weight-links;
  color: $text-color;
  //   padding-top: 5%;
}

.post > .post-content {
  margin-bottom: $spacing-unit;

  h1 {
    @include relative-font-size(1.75);

    @include media-query($on-laptop) {
      @include relative-font-size(1.652);
    }

    &:after {
      content: " ";
      display: block;
      border: 1px solid $grey-color-light;
    }
  }

  h2 {
    @include relative-font-size(1.375);

    @include media-query($on-laptop) {
      @include relative-font-size(1.25);
    }
  }

  h3 {
    @include relative-font-size(1.125);

    @include media-query($on-laptop) {
      @include relative-font-size(1.075);
    }
  }

  h4 {
    @include relative-font-size(1.075);

    @include media-query($on-laptop) {
      @include relative-font-size(1.025);
    }
  }
}
//////////////////////////////////////

/////////// PAGE SCROLLBAR /////////////
body::-webkit-scrollbar {
  width: 0.7rem;
}

body::-webkit-scrollbar-track {
  background: $background-color;
}

body::-webkit-scrollbar-thumb {
  background: $brand-color-2;
  border-radius: 6px;
}
////////////////////////////////

ul.pager {
  padding-top: 1em;
  margin: auto;
  list-style: none;
  text-align: center;
}

.previous,
.next {
  display: inline;
  font-weight: 400;
  padding: 6px;
  // font-size: 1.15em;

  & > a {
    color: #333;
    // background-color: rgba(240, 240, 240, 1);
    border: 1px solid $brand-color;
    padding: 8px 20px;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.2s;

    &:hover {
      box-shadow: rgba(255, 255, 255, 0.2) -1px 1px 0px 1px inset,
        rgba(0, 0, 0, 0.7) -1px 1px 0px 1px;
    }

    &:hover::before {
      // This is to override to link animation on the post cards
      // link animation definitions begin on line 178.
      content: none;
    }
  }
}

// Search page

form#contact-form {
  text-align: center;
}

#search {
  position: relative;
  text-align: left;
  height: 40px;
  width: 90%;
  font-size: 1em;
  border-radius: 30px;
  padding: 0 30px;
  outline: none;
  z-index: 2;
}

#list {
  text-align: left;
  margin: -15px auto auto auto;
  padding: 15px;
  // width: 90%;
  // max-height: 620px;
  overflow: auto;
}

.list.list--results > p {
  margin: 20px auto;
  text-align: center;
}

.item.item--result {
  margin: 15px auto;
  background-color: rgb(255, 255, 255); //rgba(240, 240, 240, 1);
  // background-color: $grey-color;
  border-radius: 8px;
  border: 1px solid $brand-color;
  transition: 0.2s;

  &:hover {
    box-shadow: rgba(255, 255, 255, 0.2) -1px 1px 0px 1px inset,
      rgba(0, 0, 0, 0.7) -1px 1px 0px 1px;
  }

  a {
    color: $text-color;
  }
}

.article.typeset {
  padding: 20px;

  & > h4 {
    color: $text-color;
    font-weight: 600;
    // background-color: rgba(230, 230, 230, 1);
    border-bottom: 1px solid $brand-color;
    // border-radius: 20px 20px 0 0;
    margin: -20px -20px 10px -20px;
    padding: 20px 20px 10px 20px;
  }

  & > p {
    margin: 0;
  }
}

// Media styling
.no-shadow {
  // for removing dropshadow from media
  box-shadow: none !important;
}

.page-content {
  // everywhere
  img,
  video,
  iframe,
  audio {
    border-radius: 8px;
    max-width: 100%;
    // box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
    border: 0;
  }
}

.post.h-entry {
  // only in posts
  .post-content {
    figure,
    audio {
      min-width: 80%; // when unset
    }
    figure,
    img,
    video {
      height: auto;
    }
    figure,
    img,
    video,
    iframe {
      text-align: center;
      font-style: italic;
      font-size: smaller;
      text-indent: 0;
      margin: 1em auto;
      display: table;
    }
    figcaption {
      margin-bottom: 4%;
      display: table-caption;
      caption-side: bottom;
    }
    caption {
      display: table-caption;
      text-align: center;
      position: relative;
    }
  }
}

// Post list styling
.post-list li {
  //   border-bottom: 0.1em dotted #dedede;
  padding: 10px 0;
  margin-bottom: 0;

  .post-button {
    // background-color: darken($background-color, 2%);
    display: flex;
    position: relative;
    border-radius: 6px;
    height: 200px;
    padding: 1em;
    opacity: 1;
    transition: box-shadow 0.2s ease-in-out;
    overflow: hidden;

    // box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.7) 0px 0px 0px 1px;
    border: 1px solid $brand-color;

    &:hover {
      // box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
      box-shadow: rgba(255, 255, 255, 0.2) -1px 1px 0px 1px inset,
        rgba(0, 0, 0, 0.7) -1px 1px 0px 1px;
    }

    &:hover::before {
      // This is to override to link animation on the post cards
      // link animation definitions begin on line 178.
      content: none;
    }

    .post-left {
      display: block;
      overflow: hidden;
      width: 75%;
      margin-right: 1em;

      h3 {
        font-size: 24px;
        font-weight: 600;
      }

      .post-excerpt {
        font-size: $small-font-size;
        min-height: 50%;
        color: $text-color;
        font-weight: $base-font-weight;
        margin-top: 8px;
      }

      .post-meta {
        font-size: 12px; // $smallest-font-size;
      }

      .post-meta-category {
        // font-weight: 400;
        color: $text-color;
        font-size: $small-font-size;
        border: 1px solid $brand-color-2;
        border-radius: 10px;
        padding: 5px;
      }
    }

    .post-right {
      max-width: 25%;
      display: flex;

      img {
        width: 100%;
        object-fit: cover; // fill out images
        box-shadow: none; // 1px 3px 8px rgba(0, 0, 0, 0.3);
      }
    }
  }
}

.student-list {
  margin: 1em;

  h2 {
    margin-top: 15px;
    margin-bottom: 5px;
  }
  details {
    margin: 5px auto;
  }
  h4 {
    display: inline;
  }
  a {
    margin-left: 1.5em;
    display: block;
  }
}

@media screen and (max-width: 880px) {
  .site-title {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  .title-and-logo-wrapper {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .site-header {
    position: relative;

    // .title-and-logo-wrapper {
    //   display: none;
    // }
    // .site-title {
    //   display: none;
    //   text-align: center;
    //   float: none;
    //   display: block;
    //   padding-left: 0;
    // }
    // .site-logo {
    //   display: none;
    //   float: none;
    //   margin: 0 16px 16px 0;
    // }

    .site-nav {
      position: relative;
      top: 0;
      right: 0;
      left: 0;
      margin-bottom: 0.5em;
      padding: 0 1em 0;
      text-align: center;

      .page-link {
        margin: 0;
      }
    }
  }

  .page-content {
    padding: 30px 0;
  }

  .post-list li .post-button {
    border: 1px solid $brand-color;

    .post-right {
      max-width: 100%;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      img {
        opacity: 0.5;
        mask-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 1) 100%
        );
        transition: opacity 0.1s ease-in-out;
      }
    }

    .post-left {
      width: 100%;

      h3 {
        font-size: 20px;
      }
    }
  }
}

// When we want to print a blogpost (or export as PDF)
// remove post padding, header and footer
@media print {
  .site-header,
  .site-footer {
    display: none !important;
  }
  .page-content {
    padding: 0px !important;
  }
}

//////// ---------------SLIDESHOW----------------////////
//////// ---- slideshow.js in utils folder ------////////
//////// ---- included in post.html ------////////

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.slideShowPrev,
.slideShowNext {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: $brand-color;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.slideShowNext {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.slideShowPrev:hover,
.slideShowNext:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.slideShowCaption {
  color: $brand-color;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */

.slideShowDotContainer {
  text-align: center;
  margin-top: 0;
  margin-bottom: 4%;
}

.slideShowDot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slideShowActive,
.slideShowDot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
///////////////END OF SLIDESHOW//////////////////////////
