---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Google Fonts
// @import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$heading-family: "Roboto", Arial, sans-serif;
$base-font-family: "Roboto", Arial, sans-serif; // "Roboto Mono", Arial, monospace;

$base-font-size: 18px;
$base-font-weight: 400;
$base-font-weight-links: 400;
$base-font-weight-large: 500;
$small-font-size: $base-font-size * 0.875;
$smallest-font-size: $small-font-size * 0.875;

$base-line-height: 1.6;

$nav-line-height: 20px;
$nav-margin-top: 18px;

$spacing-unit: 30px;
// For smaller screens. When does it happen?
$media-screen-breakpoint-1: 880px;
$media-screen-breakpoint-2: 680px;
$media-screen-breakpoint-3: 600px;

$post-button-height: 400px;

// Colors
$text-color: rgb(0, 0, 0);
$brand-color: rgb(0, 0, 0);
$background-color: #ffffff; //#fdfdfd;
$brand-color-dark: darken($brand-color, 50%);
$brand-color-lighten: lighten($brand-color, 50%);
$brand-color-1: rgb(50, 50, 50);
$brand-color-2: #519ACB; //#333; // for links
$brand-color-3: #9a67c2;
$brand-color-4: #ff6908;
$brand-color-5: #ffc719;
$brand-color-6: #598c14;
$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

// Width of the content area
$content-width: 900px;
$on-palm: 600px;
$on-laptop: 800px;

@import "minima";

//////////// EVERYTHING BELOW IS IN THE HEADER //////////////////////
.site-header {
  // the header itself
  width: 100%;
  background-color: $background-color;
  z-index: 1;
  opacity: 1;
  border-top: 0;
  border-bottom: 1px solid $brand-color;
}

// .title-and-logo-wrapper {
//   margin-bottom: 0;
// }

.site-title {
  // @include relative-font-size(1.625);
  line-height: $nav-line-height;
  font-size: $base-font-size;
  font-weight: 400;
  float: left;
  margin-top: $nav-margin-top;

  p {
    margin-bottom: 0px !important;
  }
}

.site-logo {
  float: left;
  width: 115px;
  height: 45px;
  margin: 8px 8px 8px 8px;
  outline: 0 !important;
  margin-bottom: 0;
}

//////////////////////////// NAVBAR ////////////////////////////////
.site-nav {
  font-size: $small-font-size;
  position: relative;
  float: right;
  padding-left: 1em;
  text-align: left;
  padding-bottom: 0%;
  line-height: $nav-line-height;
  margin-top: $nav-margin-top;

  // containers for the navbar titles
  .page-link {
    line-height: $nav-line-height;
    display: inline-block;
    a {
      color: $brand-color;
    }
  }
}

// dropdown menu
.site-nav ul {
  margin: 0;

  &.dropdown {
    background: $background-color;
    position: absolute;
    display: block;

    z-index: 3;
    margin-top: 5px;
    border-radius: 6px;
    padding: 4px;

    border: 1px solid $brand-color;

    visibility: hidden;

    li {
      // pagelinks in the dropdown menu
      display: block;
      line-height: 100%;
      padding: 0.5rem;
      border-radius: 6px;
    }
  }
}

///////////////// HAMBURGER MENU //////////////////////////////////
.hamburger-icon-nav {
  display: none;

  position: relative;
  float: right;
  padding-bottom: 0%;
  margin-top: 8px;
}

.hamburger-icon-container {
  cursor: pointer;
}

.hamburger-icon-div {
  width: 35px;
  height: 5px;
  background-color: $brand-color;
  margin: 6px 0;
}

.hamburger-bar1,
.hamburger-bar2,
.hamburger-bar3 {
  width: 35px;
  height: 5px;
  background-color: $brand-color;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .hamburger-bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .hamburger-bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .hamburger-bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

// the background the of hamburger nav
.hamburger-menu-container {
  display: none;
  background-color: $background-color;
  border-left: 1px solid $brand-color;

  width: 50%;
  height: 100vh;

  // aligns to the right
  position: fixed;
  right: 0px;

  nav {
    padding-top: 10vh;
    text-align: center;
  }

  nav ul {
    // no circles in the unordered list (ul li)
    list-style-type: none;
    margin-left: 0px;
  }

  animation: container-to-left 0.2s linear forwards;
}

@keyframes container-to-left {
  from {
    right: -50%;
  }
  to {
    right: 0px;
  }
}

// the actual nav titles
.page-link-hamburger {
  padding: 1em;
  a {
    font-size: 24px;
    color: $brand-color !important;
  }
}

// dropdown menu ul
.dropdown-hamburger {
  background: $background-color;
  position: absolute;
  display: block;
  padding: 4px;
  margin: 4px;

  left: 0;
  z-index: 3;
  width: 100%;

  border-radius: 6px;

  visibility: hidden;

  li {
    // pagelinks in the dropdown menu
    display: block;
    line-height: 100%;
    padding: 0.35rem;
    text-align: left !important;

    a {
      font-size: $smallest-font-size;
    }
  }
}

// these two classes are triggered by JS
// to open and close the dropdown menus
.visibilityOn {
  visibility: visible !important;
}

// stop the ability to scroll on the page.
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

//////////// EVERYTHING ABOVE IS IN THE HEADER and NAVBAR //////////////////////

.post-content {
  overflow-wrap: break-word;
  .custom-heading h1 {
    margin-bottom: $spacing-unit;
  }
  // REGULAR PARAGRAPHS IN THE BLOG
  p {
    margin-bottom: $spacing-unit !important;
  }
}

///////// ALL THE CLICKABLE LINKS IN THE BLOG /////////
a {
  color: $brand-color-2;
  font-weight: $base-font-weight-links;
  text-decoration: none;
  position: relative;

  &:visited {
    color: $brand-color-2;
    text-decoration: none;
  }

  &:hover {
    color: $brand-color-2;
    text-decoration: none;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: none;
    }
  }
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $brand-color-2;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}

/////////////////////////////////////////////////

.post-title {
  @include relative-font-size(2.25);
  letter-spacing: -1px;
  line-height: 1.2;
  overflow-wrap: break-word;

  @include media-query($on-laptop) {
    @include relative-font-size(2);
  }
}

////////////////////// HEADINGS //////////////////////
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-family;
  font-weight: 600; //$base-font-weight-links;
  color: $text-color;
  margin-bottom: 0px;
}

.post > .post-content {
  margin-bottom: $spacing-unit;

  h1 {
    @include relative-font-size(1.75);

    @include media-query($on-laptop) {
      @include relative-font-size(1.652);
    }
  }

  h2 {
    @include relative-font-size(1.375);

    @include media-query($on-laptop) {
      @include relative-font-size(1.25);
    }
  }

  h3 {
    @include relative-font-size(1.125);

    @include media-query($on-laptop) {
      @include relative-font-size(1.075);
    }
  }

  h4 {
    @include relative-font-size(1.075);

    @include media-query($on-laptop) {
      @include relative-font-size(1.025);
    }
  }
}

//////////////////////////////////////

/////////// PAGE SCROLLBAR /////////////
body::-webkit-scrollbar {
  width: 0.7rem;
}

body::-webkit-scrollbar-track {
  background: $background-color;
}

body::-webkit-scrollbar-thumb {
  background: $brand-color-2;
  border-radius: 6px;
}

////////////////////////////////

ul.pager {
  padding-top: 1em;
  margin: auto;
  list-style: none;
  text-align: center;
}

.previous,
.next {
  display: inline;
  font-weight: 400;
  padding: 6px;
  // font-size: 1.15em;

  & > a {
    color: #333;
    // background-color: rgba(240, 240, 240, 1);
    border: 1px solid $brand-color;
    padding: 8px 20px;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.2s;

    &:hover {
      box-shadow: rgba(255, 255, 255, 0.2) -1px 1px 0px 1px inset,
        rgba(0, 0, 0, 0.7) -1px 1px 0px 1px;
    }

    &:hover::before {
      // This is to override to link animation on the post cards
      // link animation definitions begin on line 178.
      content: none;
    }
  }
}

// Search page

form#contact-form {
  text-align: center;
}

#search {
  position: relative;
  text-align: left;
  height: 40px;
  width: 90%;
  font-size: 1em;
  border-radius: 30px;
  padding: 0 30px;
  outline: none;
  z-index: 2;
}

#list {
  text-align: left;
  margin: -15px auto auto auto;
  padding: 15px;
  // width: 90%;
  // max-height: 620px;
  overflow: auto;
}

.list.list--results > p {
  margin: 20px auto;
  text-align: center;
}

.item.item--result {
  margin: 15px auto;
  background-color: rgb(255, 255, 255); //rgba(240, 240, 240, 1);
  // background-color: $grey-color;
  border-radius: 8px;
  border: 1px solid $brand-color;
  transition: 0.2s;

  &:hover {
    box-shadow: rgba(255, 255, 255, 0.2) -1px 1px 0px 1px inset,
      rgba(0, 0, 0, 0.7) -1px 1px 0px 1px;
  }

  a {
    color: $text-color;
  }
}

.article.typeset {
  padding: 20px;

  & > h4 {
    color: $text-color;
    font-weight: 600;
    // background-color: rgba(230, 230, 230, 1);
    border-bottom: 1px solid $brand-color;
    // border-radius: 20px 20px 0 0;
    margin: -20px -20px 10px -20px;
    padding: 20px 20px 10px 20px;
  }

  & > p {
    margin: 0;
  }
}

// Media styling
.no-shadow {
  // for removing dropshadow from media
  box-shadow: none !important;
}

.page-content {
  // everywhere
  img,
  video,
  iframe,
  audio {
    border-radius: 6px;
    max-width: 100%;
    // box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
    border: 0;
  }
}

.post.h-entry {
  // only in posts
  .post-content {
    figure,
    audio {
      min-width: 80%; // when unset
    }

    figure,
    img,
    video {
      height: auto;
    }

    figure,
    img,
    video,
    iframe {
      text-align: center;
      font-style: italic;
      font-size: smaller;
      text-indent: 0;
      margin: 1em auto;
      display: table;
    }

    figcaption {
      margin-bottom: $spacing-unit;
      display: table-caption;
      caption-side: bottom;
    }

    caption {
      display: table-caption;
      text-align: center;
      position: relative;
    }
  }
}

// Post list styling
.post-list li {
  padding: 6px 0;
  margin-bottom: 0;

  .post-button {
    background-color: $background-color; //rgba(145,163,176,0.2);
    display: flex;
    position: relative;
    border-radius: 6px;
    height: $post-button-height / 2;
    padding: 1em;
    opacity: 1;
    transition: box-shadow 0.2s ease-in-out;
    overflow: hidden;

    // box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.7) 0px 0px 0px 1px;
    border: 1px solid $brand-color;

    &:hover {
      box-shadow: rgba(255, 255, 255, 0.2) -1px 1px 0px 1px inset,
        rgba(0, 0, 0, 0.7) -1px 1px 0px 1px;
    }

    &:hover::before {
      // This is to override to link animation on the post cards
      // link animation definitions begin on line 178.
      content: none;
    }

    .post-right {
      display: block;
      overflow: hidden;
      width: 75%;
      //   margin-right: 1em;

      h3 {
        font-size: 24px;
        font-weight: 600;
        padding-bottom: 2%;
      }

      .post-excerpt {
        font-size: $small-font-size;
        min-height: 50%;
        color: $text-color;
        font-weight: $base-font-weight;
        // margin-top: 8px;
      }

      .post-meta {
        font-size: 12px; // $smallest-font-size;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
      }

      .post-meta-category {
        // font-weight: 400;
        color: $brand-color;
        font-size: $small-font-size;
        border: 2px solid $brand-color-2;
        border-radius: 6px;
        padding: 0.3em;
      }
    }

    .post-left {
      max-width: 25%;
      display: flex;
      margin-right: 1em;

      img {
        width: 100%;
        height: auto;
        object-fit: cover; // fill out images
        // border: 1px solid $brand-color;
      }
    }
  }
}

.student-list {
  margin: 1em;

  h2 {
    margin-top: 15px;
    margin-bottom: 5px;
  }

  details {
    margin: 5px auto;
  }

  h4 {
    display: inline;
  }

  a {
    margin-left: 1.5em;
    display: block;
  }
}

@media screen and (max-width: $media-screen-breakpoint-1) {
  //   .post-list li .post-button .post-left .post-excerpt {
  //     font-size: $smallest-font-size;
  //   }
  .site-title {
    display: none;
  }
  .hamburger-menu-container {
    display: none;
  }
}

@media screen and (max-width: $media-screen-breakpoint-2) {
  .site-title {
    display: flex;
  }

  // remove the normal nav-bar
  .site-nav {
    display: none;
  }

  // add the hamburger menu
  .hamburger-icon-nav {
    display: inline-block;
  }

  .post-list {
    ul {
      overflow: auto;
    }
  }

  .post-list li .post-button {
    display: block;
    height: auto;
    max-height: $post-button-height; //auto;
    // padding: 0.5em;

    &:hover {
      box-shadow: none;
    }

    .post-left {
      max-width: 100%;
      width: 100%;
      height: auto;
      max-height: $post-button-height / 2 - ($spacing-unit/2);
      margin-right: 0px;
      margin-bottom: ($spacing-unit/2);
    }

    .post-right {
      height: $post-button-height / 2;
      max-width: 100%;
      width: 100%;
      height: auto;
      max-height: $post-button-height / 2;

      box-sizing: border-box; /* NEW */

      .post-meta-category {
        // display: none;
        font-size: $smallest-font-size;
      }
      .post-excerpt {
        font-size: $smallest-font-size;
        margin-bottom: 0px !important;
      }
    }
  }
}

// When we want to print a blogpost (or export as PDF)
// remove post padding, header and footer
@media print {
  .site-header,
  .site-footer {
    display: none !important;
  }

  .page-content {
    padding: 0px !important;
  }
}

//////// ---------------SLIDESHOW----------------////////
//////// ---- slideshow.js in utils folder ------////////
//////// ---- included in post.html ------////////

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;

  figure,
  figcaption {
    margin-bottom: 1% !important;
  }
}

/* Next & previous buttons */
.slideShowPrev,
.slideShowNext {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: $brand-color;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.slideShowNext {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.slideShowPrev:hover,
.slideShowNext:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */

.slideShowDotContainer {
  text-align: center;
  margin-top: 0;
  margin-bottom: $spacing-unit;
}

.slideShowDot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slideShowActive,
.slideShowDot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

///////////////END OF SLIDESHOW//////////////////////////

//////// ---------------CUSTOM HTML TABLES ----------------////////
///////  From: https://css-tricks.com/accessible-simple-responsive-tables/ ////

/* Variables
================================== */
$bw: 2px; // border width

/* Tables
================================== */
.Rtable {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $spacing-unit;
  padding: 0;
  border-radius: 0.25rem;
}

.Rtable-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%; // Default to full width
  padding: 0.8em 1em;
  overflow: hidden; // Or flex might break
  list-style: none;
  border: solid $bw white;
  // background: $background-color;
  background: #eeeeff;

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    margin: 0;
  }
}

/* Table column sizing
================================== */
.Rtable--2cols > .Rtable-cell {
  width: 50%;
}

.Rtable--3cols > .Rtable-cell {
  width: 33.33%;
}

.Rtable--4cols > .Rtable-cell {
  width: 25%;
}

.Rtable--5cols > .Rtable-cell {
  width: 20%;
}

.Rtable--6cols > .Rtable-cell {
  width: 16.6%;
}

/* Responsive when resizing the window
==================================== */
@media all and (max-width: $media-screen-breakpoint-2) {
  .Rtable--collapse {
    display: block;

    > .Rtable-cell {
      width: 100% !important;
    }

    > .Rtable-cell--foot {
      margin-bottom: 1em;
    }
  }
}
